body {
    background-color:  hsl(212, 45%, 89%);
    margin:0 ;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap:20px;    
}
main {
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    padding: 10px;
    border-radius: 30px;
    text-align:center;
    box-shadow: 4px 2px 2px hsl(212, 45%, 89%);
}
img {
    max-width: 100%;
    border-radius:30px;
}

.attribution {
         font-size: 0.6875rem; text-align: center; 
         color: hsl(228, 45%, 44%);
          font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    }     

h2{
    color:hsl(218, 44%, 22%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p{
    font-size:15px;
    color:hsl(216, 15%, 48%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
